body {
    background-color: rgb(89, 104, 155);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: "Sofia", sans-serif;
}

header {
    background-color: #525a85;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: "Sofia", sans-serif;
}

#logo {
    padding-left: 2%;
    max-width: 70px;
}

h1 {
    margin: 0;
    text-align: center;
    font-family: "Sofia", sans-serif;
    
}

h2 {
    margin: 0;
    text-align: center;
    font-family: "Sofia", sans-serif;
    font-size: 45px;
    padding: 1%;

}
h3{
    margin: 0;
    text-align: center;
    font-family: "Sofia", sans-serif;
    font-size: 16px;
    padding: 1%;
    
}
p {
    text-align: center;
    font-family: "Sofia", sans-serif;
    padding-left: 22%;
    padding-right: 22%;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}


nav a {
    text-decoration: none;
    color: white;
}

iframe {
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
    height: 620px;
}

.center-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    height: 620px;
    
}
