body {
    background-color: black;
    color: black;
}

/* Style the header and logo */
header {
    background-color: #0a0613;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    right: 0; /* Adjust the right property to shift it to the left */
    z-index: 1;
    font-family: "Sofia", sans-serif;
}

#logo {
    padding-left: 2%;
    max-width: 70px;
}

h1 {
    margin: 0;
    font-family: "Sofia", sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    font-family: "Sofia", sans-serif;
}

/* Style the links in the header */
nav a {
    text-decoration: none;
    color: white;

}

/* Style the chart containers */
.chart {
    width: 100%; /* Make the charts fill the entire table cells */
    padding: 2px;
    background-color: neon; /* Adjust the color as needed */
}
