body {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s; /* Add a transition effect for smooth mode change */
}

/* Style the header and logo */
header {
    background-color: #0a0613;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#logo {
    max-width: 70px;
    order: 2; /* Change the order to place the logo on the right */
}

h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    order: 1; /* Change the order to place the nav on the left */
}

nav ul li {
    margin-right: 10px;
}

/* Style the links in the header */
nav a {
    text-decoration: none;
    color: white;
}

/* Style the chart containers */
.chart {
    width: 100%; /* Make the charts fill the entire table cells */
    padding: 2px;
    background-color: neon; /* Adjust the color as needed */
}
