body {
    background-color: black;
    color: white;
}

/* Style the header and logo */
header {
    background-color: #0a0613;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
