body {
    background-color: black;
    color: white;
}

/* Style the header and logo */
header {
    background-color: #0a0613;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    max-width: 70px;
}

h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

/* Style the links in the header */
nav a {
    text-decoration: none;
    color: white;
}

/* Center the section */
#center-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 80%;
    border-collapse: collapse;
}

td {
    border: none; /* Removed border */
    padding: 10px;
}

iframe {
    width: 320px;
    height: 180px;
}

h3, p {
    text-align: center;
}
